.slider-box {
  position: absolute;
  top: 0;
  background-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 1) 10%,
      rgba(0, 0, 0, 0) 10%
    ),
    linear-gradient(rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 0) 10%);
  background-size: 6px 6px;
  cursor: move;
  border-right: 1px solid;
  border-bottom: 1px solid;
}

.show-box {
  position: absolute;
  bottom: 0;
  border: 4px solid red;
  overflow: hidden;
}
