.tool {
  position: absolute;
  z-index: 20;
  width: 20px;
  height: 40px;
  background-color: #fff;
  border: 1px solid #2c2c2c;
  border-radius: 2px;
}

.tool > div {
  cursor: pointer;
  width: 20px;
  height: 20px;
  background-size: 15px 15px;
  background-position: center;
  background-repeat: no-repeat;
}

.tool .right {
  background-image: url('../images/right.png');
}

.tool .err {
  background-image: url('../images/err.png');
}
